@import url("https://fontsapi.zeoseven.com/442/main/result.css");
@font-face {
    font-family: "Maple Mono NF CN";
    src: url("/data/MapleMonoNormal-NF-CN-Medium.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(252, 255, 252);
    font-family: "Maple Mono NF CN";
    font-size: 1.2rem;
    font-weight: normal;
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
input,
button,
textarea,
select {
    outline: none;
    border: none;
    font-family: inherit;
}
button {
    cursor: pointer;
}

/* 上面固定的导航栏 */
.header-nav {
    position: fixed;
    display: flex;
    width: 100vw;
    z-index: 10;
    transition: all 0.6s ease-out;
}
.nav-guide,
.nav-title,
.nav-tools {
    background: #6690ca;
    padding: 10px;
}

.nav-guide {
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;
    border-radius: 0 12px 12px 0;
}
.nav-guide a {
    padding: 0 15px;
}
.nav-logo {
    width: 4rem;
    -webkit-user-drag: none;
    clip-path: circle(40%);
}

.nav-title {
    display: flex;

    padding: 0 20px;
    align-items: center;
    border-radius: 12px;
}
.nav-tools {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    border-radius: 12px 0 0 12px;
}
.nav-tools svg {
    padding: 0 20px;
    height: 30px;
    width: auto;
}
/* end导航栏 */

/* 第一页 */
.first-pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    background: linear-gradient(#b7e4ff, #fff1e7);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-comment {
    display: none;
    position: absolute;
}

.sum-contain {
    margin-top: 15%;
}

.code-background {
    display: none;
    position: absolute;
}
/* 背景墙 */
/* .bk-one {
    background: rgba(0, 0, 0, 0.371);
    position: absolute;
    left: -100px;
    top: -100px;
}
.bk-two {
    background: rgba(0, 0, 0, 0.359);
    position: absolute;
    left: -100px;
    top: 100px;
}
.bk-three {
    background: rgba(0, 0, 0, 0.328);
    position: absolute;
    left: 400px;
    top: 100px;
}
.bk-four {
    background: rgba(0, 0, 0, 0.362);
    position: absolute;
    left: 400px;
    top: -100px;
} */

.sum-box {
    background: #bacfe7;
    padding: 20px 20px 20px 0;
    border-radius: 12px;
    display: flex;
    box-shadow:
        0px 10px 10px rgba(114, 114, 114, 0.1),
        -10px 10px 10px rgba(127, 126, 126, 0.1),
        inset -1px 1px 4px rgba(255, 255, 255, 0.77);
}
.sum-box img {
    width: auto;
    height: 14rem;
    clip-path: circle(40%);
}
.jieshao-name {
    color: rgba(0, 109, 173, 0.549);
    font-size: 2rem;
    margin: 0 0 10px 18%;
}
.lianxi {
    display: flex;
    margin-top: 20px;
}

.lianxi-box {
    background: #97bbde83;
    border-radius: 12px;
    margin-right: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: inset -1px 1px 4px rgba(255, 255, 255, 0.77);
    transition: all 0.5s ease-out;
}
.lianxi-box:hover {
    color: rgba(0, 109, 173, 0.549);
    background: #bacfe7;
}
.lianxi svg {
    height: 1.2rem;
    width: auto;
    vertical-align: middle;
    margin-right: 8px;
}
.lianxi-tip {
    margin: 20px 0 0 10%;
    color: #ffffffb6;
    font-size: 1rem;
}

.sum-motto {
    margin-top: auto;
    position: relative;
}
.gnu {
    position: absolute;
    right: -8rem;
    bottom: -2rem;
    font-size: 1rem;
    color: rgb(227, 227, 227);
}
.gnu::before {
    display: inline-block;
    content: "";
    width: 50px;
    height: 2px;
    vertical-align: 5px;
    background-color: rgb(227, 227, 227);
    /* border-radius: 10px; */
}

/* 下箭头 */
.contain-guide {
    margin: auto 0 100px 0;
    position: relative;
}
.contain-guide p {
    font-size: 12px;
    color: #393e4682;
}
.contain-guide svg {
    height: 2rem;
    width: auto;
    position: absolute;
    left: 35%;
    animation: down 1s linear infinite;
}

/* end第一页 */
.pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    border: white 2px solid;
    background: #cccccc;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 第二面 */
.two-pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    background: linear-gradient(#fff1e7, #ffffff);
    position: relative;
}
.contain-home {
    position: absolute;
    top: 50px;
    left: 600px;
    height: 300px;
    width: 500px;
    background-color: #6690ca;
}
.contain-blog {
    position: absolute;
    top: 500px;
    left: 200px;
    height: 300px;
    width: 500px;
    background-color: #6690ca;
}
.contain-app {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 500px;
    height: 300px;
    background-color: #6690ca;
}
/* 第三页面 */
.three-pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    background: linear-gradient(#ffffff, #ffe6e6, #ffecd5);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.card-game {
    width: 80%;
    height: 40%;
    background-color: #6690ca;
}
.twod-game {
    width: 80%;
    height: 40%;
    background-color: #b7e4ff;
}
/* 第四页面 */
.four-pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    background: linear-gradient(#ffecd5, #edbb6f, #576670);
}
/* 页脚 */
.foot {
    background: #2e343e;
    padding: 50px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* js效果 */
.hidden {
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
}
.show-down {
    transform: translateY(100px);
    opacity: 1;
}
.add-shadow {
    box-shadow:
        inset -2px 2px 4px rgba(226, 244, 255, 0.87),
        inset 1px -1px 4px rgba(73, 95, 117, 0.455);
}
.add-color {
    background: #6690ca;
}

@keyframes down {
    0%,
    50%,
    100% {
        top: 10px;
    }

    80% {
        top: 20px;
    }
}
