@import url("https://fontsapi.zeoseven.com/442/main/result.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p,
a,
ul,
code,
span {
    color: rgb(252, 255, 252);
    font-family: Maple Mono NF CN;
    font-size: 1.2rem;
}
svg {
    height: 30px;
    width: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
li {
    float: right;
}

body {
}
/* 上面固定的导航栏 */
.header-nav {
    background: #393e46;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    z-index: 10;
}

.nav-logo {
    width: 3rem;
    -webkit-user-drag: none;
    clip-path: circle(40%);
}
.nav-guide {
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;
}
.home,
.blog {
    padding: 15px;
}

.nav-title {
    margin: 0 auto;
}
.nav-tools {
    margin: 0 20px 0 auto;
    display: flex;
}
.search,
.languge,
.theme,
.github {
    padding: 0 20px;
}
/* end导航栏 */

/* 第一页 */
.first-pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    background: linear-gradient(#99ccff, #cccccc);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-comment {
    display: none;
}
.code-background {
    display: none;
    position: absolute;
}

.sum-contain {
    display: flex;
}

/* 背景墙 */
/* .bk-one {
    background: rgba(0, 0, 0, 0.371);
    position: absolute;
    left: -100px;
    top: -100px;
}
.bk-two {
    background: rgba(0, 0, 0, 0.359);
    position: absolute;
    left: -100px;
    top: 100px;
}
.bk-three {
    background: rgba(0, 0, 0, 0.328);
    position: absolute;
    left: 400px;
    top: 100px;
}
.bk-four {
    background: rgba(0, 0, 0, 0.362);
    position: absolute;
    left: 400px;
    top: -100px;
} */
/*  */
.head-image {
    float: left;
}
.sum-box img {
    width: 12rem;
    height: auto;
    clip-path: circle(40%);
}
.sum-box {
    background: #99ccff;
    padding: 20px 40px 20px 0;
    border-radius: 12px;
}
.jieshao {
    display: flex;
    flex-direction: column;
}
.contain-guide {
    position: absolute;
    bottom: 0;
}
/* end第一页 */
.pages {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    border: white 2px solid;
    background: #cccccc;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直居中 */
    justify-content: center;
}

/* 页脚 */
.foot {
    background: rgb(66, 70, 77);
    padding: 50px 0;
    display: flex;

    align-content: center;
    justify-content: center;
}

/* 页脚 */
