@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");
@font-face {
    font-family: "ZSFT-443";
    src: url("https://fontsapi.zeoseven.com/443/italic.woff2") format("woff2");
}
/* Maple Mono NF CN */
@import url("https://fontsapi.zeoseven.com/442/main/result.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: rgb(127, 131, 193);
}
code {
    font-family: ZSFT-443;
    font-size: 0.8rem;
}
li,
a,
p,
button {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 22px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    display: block;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1%;
    height: 70px;
    margin: 10px;

    box-shadow:
        4px 4px 4px rgba(255, 255, 255, 0.2),
        -4px 4px 4px rgba(255, 255, 255, 0.2);
    background: rgb(78, 78, 101);
    border-radius: 18px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}
.nav-guide,
.nav-search,
.nav-tools,
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main-logo {
    width: 5rem;
    height: auto;
    clip-path: circle(40%);
    cursor: pointer;
}

.nav-links {
    list-style: none;
    float: right;
}
.nav-links li {
    white-space: nowrap;
    margin: 0 10px;
}
.nav-links li a {
    /* color: white; */
    transition: 0.5s;
}
.nav-links li a:hover {
    color: #2e1c6d;
    transition: 0s;
}

.nav-tools div {
    margin: 0px 0px 0px 30px;
}
.nav-tools img {
    width: 2rem;
    height: auto;
}
.nav-search {
    background-color: rgba(159, 159, 169, 0.103);
    border: solid rgba(159, 159, 169, 0.821);
    border-radius: 20px;
}
.nav-search img {
    margin: 0 10px 0 0;
    width: 1.5rem;
    height: auto;
}
.searchline {
    margin: 0 10px 4px 10px;
    width: 40px;
    height: 25px;
    border-bottom: solid rgba(116, 211, 255, 0.558);
}

.headimage img {
    width: 12rem;
    height: auto;
    clip-path: circle(40%);
}
/* 下引导 */

.guide-down {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    padding: 50px;
}
.guide-down p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.231);
}

.guide-down img {
    width: 1.5rem;
}

/* FIXME : sum从新布局*/
.sum-contain {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10vh;
}

.code-background {
    display: flex;
    position: relative;
    z-index: -10;
}
.code-background pre {
    position: absolute;
    background: rgb(51, 51, 70);
    border-radius: 12px;
    padding: 0 15px;
    color: white;
}

/* TODO : 代码高亮背景排列 */
/* 简单来说：父级元素设置为 position: relative，子元素设置为 position: absolute。 
此时，子元素的坐标原点（0,0）就不再是页面左上角，而是这个父级元素的左上角。 */

/* 对代码背景的实现bk-one */
.bk-one {
    position: absolute;
    transform: rotate(10deg);
    left: -30px;
    top: -60px;
}
.bk-two {
    position: absolute;
    transform: rotate(-10deg);
    left: 400px;
    top: 20px;
}
.bk-three {
    position: absolute;
    transform: rotate(-10deg);
    left: -100px;
    top: 220px;
}
.bk-four {
    position: absolute;
    transform: rotate(10deg);
    left: 400px;
    top: 180px;
}

/* 弹幕 */
.pop-comment {
    display: none;
}
/* 简介栏 */
.sum-box {
    background: rgba(80, 82, 83, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sum-item {
    display: flex;
    align-items: center;
}
/* 格言栏目 */
.contain-motto {
    display: flex;
    justify-content: center;
}
.motto {
    background: rgb(142, 142, 201);
    padding: 10px;
    text-align: center;
    margin: 0 20%;
    border-radius: 12px;
    box-shadow:
        20px 10px 10px rgba(68, 68, 68, 0.6),
        -20px 10px 10px rgba(56, 56, 56, 0.6);
    position: absolute;
    bottom: 0px;
}
